# SMTP Configuration for Gmail
# 1. SMTP_HOST: smtp.gmail.com
# 2. SMTP_PORT: 587
# 3. SMTP_USER: Your full Gmail address
# 4. SMTP_PASS: Your 16-character App Password (not your login password)
#    Enable 2-Step Verification in Google Account -> Search "App Passwords"
# 5. CONTACT_EMAIL: Where inquiries should be sent to

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
CONTACT_EMAIL=ojosepholuwaseun@gmail.com
